* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
   
}

:root {
  --color-1: rgb(198, 243, 198);
  --color-2:  darkgreen;
  --color-3: lightgrey;
  --color-4: darkgrey;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: var(--color-1);

}

.fit-to-vh{
  height: 100vh;
}

.vh-1{
  height: 60vh;
}

.code-background{
  background-image: url('./assets/pexels-markus-spiske-1089438.jpg');
  background-position: center;
  background-size: cover;
}

.height-1{
  height: 200px;
}

.height-2{
  height: 100px;
}

.color-1{
  color: var(--color-1);
}

.color-2{
  color: var(--color-2);
}
.color-3{
  color: var(--color-3);
}

.biggest-font{
  font-size: 56px;
}

.bigger-font{
  font-size: 40px;
}

.black-background{
  background-color: black;
}

.inline-block{
  display: inline-block;
}

.block{
  display: block;
}

.light-green-background{
  background-color: var(--color-1);
}

.flex-row{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.no-list-style{
  list-style: none;
}

.no-border{
  text-decoration: none;
}

.no-outline{
  outline: none;
}
.space-around{
  justify-content: space-around;
}

.space-evenly{
  justify-content: space-evenly;
}

.space-between{
  justify-content: space-between;
}

.center-horizontally{
  justify-content: center;
}

.half-width{
  width: 50%;
}

.center-vertically{
  align-items: center;
}

.text-center{
  text-align: center;
}

.p-1{
  padding: 5px;
}

.p-2{
  padding: 10px;
}

.p-3{
  padding: 15px;
}

.image-holder-1{
  width: 30%;
  height: auto;
}

.image-holder-2{
  width: 50%;
  height: auto;
}

.thick-border{
  border: 20px solid black;
}

.thin-border{
  border: 3px solid black;
}

.curved-border{
  border-radius: 15px;
}

.width-1{
  width: 100%;
}

.clickable:hover{
  background-color: var(--color-1);
  color: var(--color-2);
  cursor: pointer;
}

.box:focus{
  background-color: var(--color-2);
  color: var(--color-1);
}

.btn:hover{
  background-color: var(--color-2);
  color: var(--color-1);
}

.disabled{
  background-color: var(--color-3);
  color: var(--color-4);
}

.pic:hover{
  border: 20px solid var(--color-2);
}

.font{
  font-family: 'Press Start 2P', cursive;
}

.transition{
  transition: all 0.5s ease-in-out;
}
.navActive{
  color: var(--color-2);
}